* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  /* word-break: break-all;
    word-wrap: break-word; */
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

body {
  font-size: 0.32rem;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

fieldset,
img {
  border: 0;
}

iframe {
  display: block;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

i,
code,
b {
  font-weight: normal;
  font-style: normal;
}

code {
  background: transparent;
}

.wrap {
  width: 100%;
  height: 100%;
  background: #1D1D28;
}

.header {
  width: 100%;
  height: 44px;
  display: flex;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(-135deg, #2CBB55 0%, #2CBB86 100%);
}

.header span {
  flex: 1;
  color: #ffffff;
}

.header span img {
  width: 40px;
  height: 21px;
}

.header span input {
  width: 242px;
  height: 30px;
  border-radius: 15px;
  background: #ffffff;
  padding-left: 10px;
  border: 0;
}

.section {
  flex: 1;
}

.section .oImg {
  width: 100%;
  height: 150px;
}

.section .oImg ul {
  width: 100%;
  height: 100%;
}

.section .oImg ul li {
  width: 100%;
  height: 100%;
  text-align: center;
}

.section .oImg ul li img {
  width: 90%;
  height: 100%;
}

.section .nav {
  width: 100%;
  height: 200px;
  color: #ffffff;
  margin-top: 20px;
}

.section .nav ol {
  width: 100%;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
}

.section .nav ol li {
  flex: 1;
}

.section .nav ol li img {
  width: 40px;
  height: 40px;
}

.section .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
}

.section .oImgs {
  width: 100%;
  height: 100px;
  color: #ffffff;
  overflow: hidden;
}

.section .oImgs ul {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  line-height: 100px;
}

.section .oImgs ul li {
  width: 40%;
  height: 100px;
  position: relative;
  margin-left: 10px;
}

.section .oImgs ul li img {
  width: 200px;
  height: 100px;
}

.section .oImgs ul li span {
  position: absolute;
  left: 50%;
}

footer {
  width: 100%;
  height: 50px;
  color: black;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

footer ul li {
  flex: 1;
}

footer ul li img {
  width: 30px;
  height: 30px;
}

.active {
  color: #2CBB55;
}
